body{
    font-family: 'Exo 2', sans-serif;
}

.logo-img{
    width: 170px;
    height: 50px;
}

.icon-cart{
    width: 50px;
    height: 30px;
}

.products{
    width:100%;
    height: 260px; 
}

.navbarColor{
    background-color: #ecffeb;
}

.desayuno{
    color: #DDC44B;
}


.almuerzo{
    color: #E2655E;
}

.lacteos{
    color: #E0D8B0;
}


.description{
    color: gray;
}

.vegetal{
    color: #008a1f;
}

.styleTable{
    margin-top: 5rem;
}

/* Scroll up button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  #footer{
    height: 200px;
    background-color: #FAF3EF;
    text-align: center;
    padding-top: 4%;
}

.search{
    margin-top: 6rem;
}

