.logo-img{
    width: 170px;
    height: 50px;
}

.icon-cart{
    width: 50px;
    height: 30px;
}

.products{
    width:100%;
    height: 260px; 
}

.desayuno{
    color: #DDC44B;
}

.almuerzo{
    color: #E2655E;
}

.lacteos{
    color: #E0D8B0;
}

.textSize{
    font-size: 2.5rem;
}

.description{
    font-size: 1rem;
    color: gray;
}

.vegetal{
    color: #008a1f;
}
.Adrian {
    width: 90%;
}

.Jose {
    width: 90%;
}

.Wintop {
    width: 20px;
}

/* Scroll up button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  #footer{
    height: 200px;
    background-color: #FAF3EF;
    text-align: center;
    padding-top: 4%;
}

@media (max-width:992px){
    section{
        margin-top: 100px;
    }
}

@media screen and (min-width:360px)  and  (max-width:991px){
    .products{
        width:100%;
        height: 160px; 
    }
}